{% extends "index.html" %}
<!---->
{% block content %}
<h1>เรียนกับเราแล้วดียังไง ?</h1>
<div class="d-flex flex-wrap">
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">สามารถกู้ กยศ. ได้ 100%</div>
    <div class="card-body text-danger">
      <p class="card-text">
        เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน
        สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">เรียนอยู่ที่บ้านเราเอง/ไกล้บ้าน</div>
    <div class="card-body text-danger">
      <p class="card-text">
        เรียนอยู่ที่บ้านเราเองหรือใกล้บ้านยังช่วยลดค่าใช้จ่ายในการเดินทางและเวลาในการเดินทางไป-กลับ
        ทำให้เรามีเวลามากขึ้นสำหรับการเรียนรู้และพัฒนาตนเอง
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">โอกาสในการทำงานสูง</div>
    <div class="card-body text-danger">
      <p class="card-text">
        วิทยาการคอมพิวเตอร์เป็นหนึ่งในสาขาที่มีความต้องการในตลาดงานสูงมาก
        โดยเฉพาะในยุคที่เทคโนโลยีเป็นหัวใจสำคัญของทุกอุตสาหกรรม
        อาชีพที่เกี่ยวข้องกับเทคโนโลยีสารสนเทศและการพัฒนาซอฟต์แวร์มีการเติบโตอย่างรวดเร็ว
        เช่น นักพัฒนาซอฟต์แวร์, นักวิทยาศาสตร์ข้อมูล, วิศวกรปัญญาประดิษฐ์,
        และผู้เชี่ยวชาญด้านความปลอดภัยไซเบอร์
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">รายได้ดี</div>
    <div class="card-body text-danger">
      <p class="card-text">
        งานในสาขาวิทยาการคอมพิวเตอร์มักมีรายได้ที่สูง
        เนื่องจากความต้องการทักษะและความเชี่ยวชาญในเทคโนโลยีขั้นสูง
        โดยเฉพาะในสายงานที่เกี่ยวกับการพัฒนา AI, การวิเคราะห์ข้อมูล,
        และการรักษาความปลอดภัยของระบบไอที
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">ความหลากหลายในการทำงาน</div>
    <div class="card-body text-danger">
      <p class="card-text">
        วิทยาการคอมพิวเตอร์ไม่ได้จำกัดแค่การพัฒนาโปรแกรมคอมพิวเตอร์เท่านั้น
        แต่ยังครอบคลุมถึงการทำงานในหลายสาขา เช่น ปัญญาประดิษฐ์, วิทยาการข้อมูล,
        การพัฒนาเกม, การออกแบบระบบเครือข่าย, และการรักษาความปลอดภัยไซเบอร์
        ซึ่งหมายความว่าผู้ที่จบสาขานี้สามารถเลือกสายงานที่ตรงกับความสนใจและความถนัดของตนเองได้
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">ทักษะที่เป็นประโยชน์ในทุกอุตสาหกรรม</div>
    <div class="card-body text-danger">
      <p class="card-text">
        เทคโนโลยีคอมพิวเตอร์มีความสำคัญในทุกอุตสาหกรรม ตั้งแต่การแพทย์, การเงิน,
        การศึกษา, วิศวกรรม, จนถึงความบันเทิง
        ทักษะด้านการพัฒนาและการวิเคราะห์ข้อมูลสามารถนำไปปรับใช้ได้กับงานหลากหลายประเภท
        ทำให้ผู้ที่จบสาขานี้สามารถเข้าสู่อุตสาหกรรมที่สนใจได้ไม่ยาก
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">โอกาสในการพัฒนาตนเองอย่างต่อเนื่อง</div>
    <div class="card-body text-danger">
      <p class="card-text">
        เทคโนโลยีมีการเปลี่ยนแปลงและพัฒนาอย่างรวดเร็ว
        ผู้ที่เรียนในสาขานี้จะได้เรียนรู้เทคนิคใหม่ ๆ อยู่เสมอ
        ทำให้เกิดโอกาสในการพัฒนาทักษะและความรู้ใหม่ ๆ อยู่ตลอดเวลา
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">การแก้ปัญหาและความคิดสร้างสรรค์</div>
    <div class="card-body text-danger">
      <p class="card-text">
        วิทยาการคอมพิวเตอร์เป็นสาขาที่พัฒนาทักษะการคิดวิเคราะห์และการแก้ปัญหา
        (Problem-Solving) อย่างมีระบบ
        การออกแบบและพัฒนาโปรแกรมหรือระบบคอมพิวเตอร์ต้องอาศัยการวางแผนและการคิดอย่างรอบคอบ
        ทำให้คุณมีทักษะในการแก้ปัญหาได้อย่างสร้างสรรค์และมีประสิทธิภาพ
      </p>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap justify-content-center">
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">สามารถทำงานได้ทั่วโลก</div>
    <div class="card-body text-danger">
      <p class="card-text">
        วิชาชีพด้านวิทยาการคอมพิวเตอร์ไม่ได้จำกัดอยู่ในพื้นที่ใดพื้นที่หนึ่ง
        เนื่องจากความรู้และทักษะในสายนี้สามารถนำไปใช้ได้ทั่วโลก
        นอกจากนี้ยังสามารถทำงานทางไกล (Remote Work) ได้
        ซึ่งเป็นสิ่งที่มีความนิยมมากขึ้นในปัจจุบัน
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem">
    <div class="card-header">สร้างสรรค์สิ่งใหม่ ๆ</div>
    <div class="card-body text-danger">
      <p class="card-text">
        การเรียนสาขานี้จะเปิดโอกาสให้คุณเป็นผู้สร้างสรรค์เทคโนโลยีใหม่ ๆ เช่น
        แอปพลิเคชัน, ซอฟต์แวร์, หรือแม้กระทั่งอุปกรณ์ใหม่ ๆ
        ที่มีความสามารถเฉพาะด้าน เป็นสาขาที่ช่วยขับเคลื่อนนวัตกรรมในโลก
      </p>
    </div>
  </div>
</div>
<h1>เราจะได้เรียนอะไรบ้าง ?</h1>

<div class="d-flex flex-wrap justify-content-center">
  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse2.mm.bing.net/th?id=OIP.qH02-UDBRF9ZjXbwoEmkhwHaE-&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            โครงข่ายคอมพิวเตอร์ (Computer Networks)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับการออกแบบ ติดตั้ง
            และบำรุงรักษาระบบเครือข่ายคอมพิวเตอร์
            และช่วยให้นักศึกษาเข้าใจหลักการทำงานของเครือข่ายคอมพิวเตอร์
            ซึ่งเป็นพื้นฐานสำคัญในการออกแบบ ติดตั้ง
            และดูแลระบบเครือข่ายในองค์กรหรือการทำงานในอุตสาหกรรมที่เกี่ยวข้องกับเทคโนโลยีสารสนเทศ
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse4.mm.bing.net/th?id=OIP.xHgBZB2aXeqqPAKndgsyyQHaEK&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            การสร้างซอฟต์แวร์ (Software Engineering)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับกระบวนการสร้างซอฟต์แวร์
            การวิเคราะห์และออกแบบระบบซอฟต์แวร์ การทดสอบและการบำรุงรักษาระบบ
            และช่วยให้นักศึกษามีความรู้และทักษะที่จำเป็นในการพัฒนาและจัดการซอฟต์แวร์ที่มีคุณภาพ
            ทำงานเป็นทีมอย่างมีประสิทธิภาพ
            และสามารถนำความรู้ไปประยุกต์ใช้ในอุตสาหกรรมซอฟต์แวร์ได้อย่างมืออาชีพ
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-center">
  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse2.mm.bing.net/th?id=OIP.jpUDXwSouUaqEF6Ut4LXxgHaFQ&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            ภูมิสารสนเทศ (Geographic Information System)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับการประยุกต์ใช้เทคโนโลยีสารสนเทศในการวิเคราะห์และแสดงผลข้อมูลทางภูมิศาสตร์
            และช่วยให้นักศึกษามีทักษะในการจัดการและวิเคราะห์ข้อมูลเชิงพื้นที่
            ซึ่งมีความสำคัญในหลากหลายสาขาวิชาชีพ เช่น การวางแผนเมือง
            การจัดการสิ่งแวดล้อม การสำรวจทรัพยากรธรรมชาติ และการบรรเทาภัยพิบัติ
            นอกจากนี้ยังช่วยในการทำความเข้าใจและตัดสินใจที่เกี่ยวข้องกับพื้นที่และตำแหน่งต่าง
            ๆ ได้อย่างแม่นยำและมีประสิทธิภาพมากขึ้น
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse4.mm.bing.net/th?id=OIP.D7XOIKRjV2hAwetyjyC1wQHaFe&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            ภูมิปัญญาประดิษฐ์ (Artificial Intelligence)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับการพัฒนาโปรแกรมและเทคโนโลยีที่ใช้ในการจำลองความเป็นมนุษย์ของระบบคอมพิวเตอร์
            และช่วยให้นักศึกษามีความเข้าใจในเทคโนโลยีที่กำลังเปลี่ยนแปลงโลกอย่างรวดเร็ว
            สามารถนำความรู้ไปพัฒนาและปรับใช้ในสาขาวิชาต่าง ๆ
            ได้อย่างสร้างสรรค์และมีประสิทธิภาพ
            รวมถึงเตรียมตัวให้พร้อมสำหรับอนาคตที่ AI
            จะเข้ามามีบทบาทมากขึ้นในชีวิตประจำวัน
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-center">
  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse3.mm.bing.net/th?id=OIP.fXHgwo8Q58iC_mD_exQWPwHaF7&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            วิทยาการข้อมูล (Data Science)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับการทำงานกับข้อมูล การวิเคราะห์และแสดงผลข้อมูล
            และการประยุกต์ใช้เทคโนโลยีสารสนเทศในการดำเนินงาน
            และเนื่องจากข้อมูลเป็นทรัพยากรที่มีค่าที่สุดสำหรับองค์กรและธุรกิจต่าง
            ๆ
            การเรียนรู้วิทยาการข้อมูลช่วยให้คุณมีทักษะในการวิเคราะห์และตีความข้อมูลเพื่อสนับสนุนการตัดสินใจและการแก้ปัญหาอย่างมีประสิทธิภาพ
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse2.mm.bing.net/th?id=OIP.WXVfPTLHHL_30eEm_6lrRAHaE7&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            ความปลอดภัยของข้อมูล (Information Security)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับการป้องกันและควบคุมความปลอดภัยของข้อมูลในระบบคอมพิวเตอร์
            และช่วยให้นักศึกษาเข้าใจถึงความสำคัญของการรักษาความปลอดภัยในยุคดิจิทัลที่ข้อมูลเป็นทรัพยากรที่มีค่ามากขึ้น
            เตรียมความพร้อมในการปกป้องข้อมูลและระบบจากภัยคุกคามต่าง ๆ
            ที่เกิดขึ้นอย่างต่อเนื่อง รวมถึงพัฒนาทักษะในการวิเคราะห์ ป้องกัน
            และตอบสนองต่อเหตุการณ์ด้านความปลอดภัยอย่างมีประสิทธิภาพ
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-center">
  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse3.mm.bing.net/th?id=OIP.AXae193y9LRIamVXrJkwzQAAAA&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            ภูมิคุ้มกันและความเสียหายทางคอมพิวเตอร์ (Computer Forensics and
            Cybercrime)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับการตรวจสอบและวิเคราะห์ข้อมูลที่ถูกโจมตี
            และการตรวจสอบเครื่องมือต่างๆที่ใช้ในการป้องกันการโจมตี
            และช่วยให้นักศึกษามีความสามารถในการสืบสวนและวิเคราะห์หลักฐานดิจิทัลอย่างมืออาชีพ
            พร้อมทั้งมีความเข้าใจในอาชญากรรมทางคอมพิวเตอร์และภัยคุกคามทางไซเบอร์ที่มีความซับซ้อนมากขึ้นในปัจจุบัน
            รวมถึงการนำความรู้ที่ได้ไปใช้ในการป้องกันและตอบสนองต่อภัยคุกคามอย่างมีประสิทธิภาพ
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse3.mm.bing.net/th?id=OIP.L7Ga3nPZWlds5HTBH8-mAwHaD4&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            การออกแบบและพัฒนาระบบฐานข้อมูล (Database Systems)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับการออกแบบ ติดตั้ง และบำรุงรักษาระบบฐานข้อมูล
            รวมถึงเรียนรู้ SQL ซึ่งเป็นภาษาคิวรีสำหรับฐานข้อมูล
            และให้นักศึกษามีทักษะในการออกแบบและจัดการฐานข้อมูลที่มีประสิทธิภาพ
            พร้อมทั้งเข้าใจเทคโนโลยีและแนวทางปฏิบัติที่จำเป็นในการพัฒนาระบบฐานข้อมูลที่ตอบสนองต่อความต้องการของผู้ใช้งานและสามารถรองรับการขยายตัวของข้อมูลในอนาคตได้
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <!-- ใช้ d-flex และ justify-content-center เพื่อจัดการ์ดให้อยู่กึ่งกลาง -->
  <div class="card mb-3 me-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://tse3.mm.bing.net/th?id=OIP.qoxJfuJHC9hfLmuYZ5VmVwHaD4&pid=Api&P=0&h=180"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #000000">
            การประมวลผลภาพ (Image Processing)
          </h5>
          <p class="card-text">
            เรียนรู้เกี่ยวกับการประมวลผลภาพดิจิทัลและวิเคราะห์ภาพ เช่น
            การปรับแต่งภาพ การค้นหาวัตถุ และการสกัดคุณลักษณะจากภาพ
            และช่วยให้นักศึกษาเข้าใจวิธีการจัดการและวิเคราะห์ภาพดิจิทัลเพื่อดึงข้อมูลที่มีประโยชน์ออกมา
            และนำไปใช้ในงานต่าง ๆ เช่น การวิจัยทางวิทยาศาสตร์ การแพทย์
            และการพัฒนาเทคโนโลยีใหม่ ๆ
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

้
<h1>จบแล้วทำอาชีพอะไรได้บ้าง ?</h1>

<div class="d-flex flex-wrap justify-content-center">
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse1.mm.bing.net/th?id=OIP.kgCt_4E1ajV1_HVeAO_SZQHaEK&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักพัฒนาซอฟต์แวร์ (Software Developer)
      </h5>
      <p class="card-text">
        ออกแบบและพัฒนาโปรแกรมและแอปพลิเคชันต่าง ๆ
        สำหรับคอมพิวเตอร์และอุปกรณ์พกพา
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://png.pngtree.com/thumb_back/fw800/background/20230322/pngtree-the-young-engineer-repairing-musical-hi-fi-system-young-engineer-repairing-photo-image_2035231.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        วิศวกรระบบ (Systems Engineer)
      </h5>
      <p class="card-text">
        ดูแลและจัดการระบบคอมพิวเตอร์และเครือข่ายขององค์กร
        ให้แน่ใจว่าระบบทำงานได้อย่างราบรื่นและมีประสิทธิภาพ
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse1.mm.bing.net/th?id=OIP.Z45BYn0k3X0fe0X29zkqCQHaEX&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        วิศวกรเครือข่าย (Network Engineer)
      </h5>
      <p class="card-text">
        ออกแบบและดูแลระบบเครือข่ายขององค์กร
        รวมถึงการตั้งค่าและการจัดการเซิร์ฟเวอร์และอุปกรณ์เครือข่าย
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse4.mm.bing.net/th?id=OIP.gSRbOyLaQHNwYiRqY656kQHaE7&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักวิเคราะห์ข้อมูล (Data Analyst)
      </h5>
      <p class="card-text">
        วิเคราะห์ข้อมูลจำนวนมากเพื่อค้นหาข้อมูลเชิงลึกและช่วยในการตัดสินใจทางธุรกิจ
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse4.mm.bing.net/th?id=OIP.dGRKsVj-Ort6ur9tCAGSeQHaE8&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักวิทยาศาสตร์ข้อมูล (Data Scientist)
      </h5>
      <p class="card-text">
        ใช้เทคนิคการเรียนรู้ของเครื่องและการวิเคราะห์ข้อมูลขั้นสูงเพื่อสร้างโมเดลและคาดการณ์แนวโน้มในข้อมูล
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse3.mm.bing.net/th?id=OIP.HBc_GAK2NUvisoUqrC2g5QHaEY&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักวิจัยทางคอมพิวเตอร์ (Computer Researcher)
      </h5>
      <p class="card-text">
        ทำการวิจัยในด้านต่าง ๆ เช่น ปัญญาประดิษฐ์ (AI), การเรียนรู้ของเครื่อง
        (Machine Learning), หรือการประมวลผลภาพ เพื่อพัฒนาเทคโนโลยีใหม่
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse2.mm.bing.net/th?id=OIP.-F2fVUihIe8V4f8NHwmVeAHaE8&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักความปลอดภัยไซเบอร์ (Cybersecurity Specialist)
      </h5>
      <p class="card-text">
        ตรวจสอบและป้องกันการโจมตีทางไซเบอร์และการละเมิดความปลอดภัย
        รวมถึงการพัฒนามาตรการป้องกันและการตอบสนองต่อเหตุการณ์
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse4.mm.bing.net/th?id=OIP.KBzW-uUyXohxcltFicIMhQHaE6&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักออกแบบฐานข้อมูล (Database Designer)
      </h5>
      <p class="card-text">
        ออกแบบและจัดการฐานข้อมูลขององค์กร
        รวมถึงการสร้างและปรับปรุงฐานข้อมูลเพื่อให้มีประสิทธิภาพสูงสุด
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse1.mm.bing.net/th?id=OIP.Cyt7vRsW0t-JEj8T7yyH1wHaDo&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        วิศวกรปัญญาประดิษฐ์ (AI Engineer)
      </h5>
      <p class="card-text">
        พัฒนาและปรับใช้เทคโนโลยีปัญญาประดิษฐ์ (AI) และการเรียนรู้ของเครื่อง
        (Machine Learning) เพื่อสร้างระบบที่สามารถเรียนรู้และตัดสินใจได้เอง
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse3.mm.bing.net/th?id=OIP.Wkln6f9KykNtOtnSQPHi0gHaE7&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักพัฒนาเว็บ (Web Developer)
      </h5>
      <p class="card-text">
        ออกแบบและพัฒนาเว็บไซต์และแอปพลิเคชันเว็บ
        รวมถึงการจัดการและปรับปรุงเว็บไซต์เพื่อให้มีประสิทธิภาพและใช้งานได้ดี
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse2.mm.bing.net/th?id=OIP.VfWr6bp0BmfU1MQ3uX5FIwHaE8&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักออกแบบประสบการณ์ผู้ใช้ (UX Designer)
      </h5>
      <p class="card-text">
        วิจัยและออกแบบประสบการณ์ผู้ใช้ (User Experience)
        เพื่อทำให้การใช้งานแอปพลิเคชันหรือเว็บไซต์เป็นไปอย่างราบรื่นและมีความพึงพอใจ
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse2.mm.bing.net/th?id=OIP.iluTdY_2__GZp40TTBfG_AHaFH&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักออกแบบส่วนต่อประสานผู้ใช้ (UI Designer)
      </h5>
      <p class="card-text">
        ออกแบบส่วนติดต่อผู้ใช้ (User Interface)
        ของแอปพลิเคชันและเว็บไซต์เพื่อให้มีความน่าสนใจและใช้งานได้ง่าย
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse2.mm.bing.net/th?id=OIP.SxJPcVM3y7ret5l8GsYRGAAAAA&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        วิศวกรซอฟต์แวร์สำหรับระบบฝังตัว (Embedded Systems Engineer)
      </h5>
      <p class="card-text">
        พัฒนาและออกแบบซอฟต์แวร์ที่ทำงานในระบบฝังตัว เช่น อุปกรณ์ IoT
        หรือเครื่องมือทางการแพทย์
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse3.mm.bing.net/th?id=OIP.Ix7-DI7xSAM6iRQhhR4ciQHaEK&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        ผู้ดูแลระบบฐานข้อมูล (Database Administrator)
      </h5>
      <p class="card-text">
        จัดการและดูแลฐานข้อมูลขององค์กรเพื่อให้มีการทำงานที่มีประสิทธิภาพและปลอดภัย
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse4.mm.bing.net/th?id=OIP.sIMV1YVIEPU_ge9d9SsCjAHaEP&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        ผู้เชี่ยวชาญด้านเทคโนโลยีคลาวด์ (Cloud Specialist)
      </h5>
      <p class="card-text">
        ดูแลและจัดการบริการคลาวด์และโซลูชันการจัดเก็บข้อมูลบนคลาวด์ เช่น AWS,
        Azure หรือ Google Cloud
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse1.mm.bing.net/th?id=OIP.1gye2ovpz7QTOvTNJL1sqwHaFK&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        ที่ปรึกษาด้านเทคโนโลยี (IT Consultant)
      </h5>
      <p class="card-text">
        ให้คำแนะนำและคำปรึกษาด้านเทคโนโลยีและการจัดการข้อมูลแก่ธุรกิจและองค์กร
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse4.mm.bing.net/th?id=OIP.Y0vmTclS_TgYwnVtqPm67gHaEK&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักพัฒนาเกม (Game Developer)
      </h5>
      <p class="card-text">
        ออกแบบและพัฒนาเกมคอมพิวเตอร์และเกมมือถือ
        รวมถึงการสร้างกราฟิกและกลไกของเกม
      </p>
    </div>
  </div>
  <div class="card mb-5 me-5" style="width: 18rem">
    <img
      src="https://tse4.mm.bing.net/th?id=OIP.wEBW67Z945m4hFY2k_J7lQHaEK&pid=Api&P=0&h=180"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title" style="color: #000000">
        นักพัฒนาปัญญาประดิษฐ์และการเรียนรู้ของเครื่อง (AI and Machine Learning
        Developer)
      </h5>
      <p class="card-text">
        Sพัฒนาอัลกอริธึมและโมเดลการเรียนรู้ของเครื่องเพื่อแก้ปัญหาทางธุรกิจและวิจัยome
      </p>
    </div>
  </div>
</div>
{% endblock content %}
