{% extends "index.html" %}

{% block content %}
<h1>เรียนกับเราแล้วดียังไง ?</h1>
<div class="d-flex flex-wrap">
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem;">
    <div class="card-header">สามารถกู้ กยศ. ได้ 100%</div>
    <div class="card-body text-danger">
      <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560</p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem;">
    <div class="card-header">ความหลากหลายของอาชีพ</div>
    <div class="card-body text-danger">
      <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560</p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem;">
    <div class="card-header">สามารถกู้ กยศ. ได้ 100%</div>
    <div class="card-body text-danger">
      <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560</p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem;">
    <div class="card-header">ความหลากหลายของอาชีพ</div>
    <div class="card-body text-danger">
      <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560</p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem;">
    <div class="card-header">สามารถกู้ กยศ. ได้ 100%</div>
    <div class="card-body text-danger">
      <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560</p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem;">
    <div class="card-header">ความหลากหลายของอาชีพ</div>
    <div class="card-body text-danger">
      <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560</p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem;">
    <div class="card-header">สามารถกู้ กยศ. ได้ 100%</div>
    <div class="card-body text-danger">
      <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560</p>
    </div>
  </div>
  <div class="card border-danger mb-3 me-1" style="max-width: 18rem;">
    <div class="card-header">ความหลากหลายของอาชีพ</div>
    <div class="card-body text-danger">
      <p class="card-text">เนื่องจากเป็นประเภทวิชาและสาขาที่เป็นความต้องการหลักและมีความชัดเจนของการผลิตกำลังคน สำหรับนิสิต นักศึกษาที่เข้าร่วมโครงการ ปีการศึกษา 2560</p>
    </div>
  </div>
</div>
<h1>เราจะได้เรียนอะไรบ้าง ?</h1>



{% endblock content %}
